<div class="card">
  <div class="card-body">
    <form
      [formGroup]="productForm"
      (ngSubmit)="createItem()"
      class="container h-50 w-auto m-auto"
    >
      <!-- Row 1: Name, Size, Color -->
      <div class="row mb-3 d-flex">
        <div class="col-md row">
          <div class="col-md-8">
            <label for="barcode">Barcode</label>
            <input
              id="barcode"
              pInputText
              class="p-1"
              formControlName="barcode"
              class="w-100 formcontrol-sm"
            />
          </div>

          <div class="col-md-4 d-flex align-items-end">
            <button
              pButton
              type="button"
              label="Barcode"
              class="w-100 h-75"
              (click)="generateBarcode()"
            ></button>
          </div>
        </div>
        <div class="col-md-4">
          <label for="name">Name</label>
          <input
            id="name"
            pInputText
            class="p-1"
            formControlName="name"
            class="w-100 formcontrol-sm"
            size="snall"
            placeholder="Shirt"
          />
        </div>

        <div class="col-md-1">
          <label for="color">Color</label><br />
          <p-colorPicker
            formControlName="color"
            styleClass="w-100"
            [style]="{ height: '2.5rem' }"
          ></p-colorPicker>
        </div>
      </div>

      <!-- Row 2: Cost Price, Selling Price, Tax -->
      <div class="row mb-3">
        <div class="col-md-2">
          <label for="costPrice">Cost Price</label>
          <input
            id="costPrice"
            type="number"
            pInputText
            class="p-1"
            formControlName="costPrice"
            class="w-100"
          />
        </div>

        <div class="col-md-2">
          <label for="sellingPrice">Selling Price</label>
          <input
            id="sellingPrice"
            type="number"
            pInputText
            class="p-1"
            formControlName="sellingPrice"
            class="w-100"
          />
        </div>

        <div class="col-md-2">
          <label for="tax">Tax (%)</label>
          <input
            id="tax"
            type="number"
            pInputText
            class="p-1"
            formControlName="tax"
            class="w-100"
          />
        </div>

        <div class="col-md-2">
          <label for="stock">Available Stock</label>
          <input
            id="stock"
            type="number"
            pInputText
            class="p-1"
            formControlName="stock"
            class="w-100"
          />
        </div>

        <div class="col-md-2">
          <label for="lowStockAlert">Low Stock Alert</label>
          <input
            id="lowStockAlert"
            type="number"
            pInputText
            class="p-1"
            formControlName="lowStockAlert"
            class="w-100"
          />
        </div>

        <div class="col-md-3">
          <label for="brand">Brand</label>
          <input
            id="brand"
            pInputText
            class="p-1"
            formControlName="brand"
            class="w-100"
          />
        </div>
        <div class="col-md-3">
          <label for="category">Category</label>
          <input
            id="category"
            pInputText
            class="p-1"
            formControlName="category"
            class="w-100"
          />
        </div>
      </div>

      <!-- Row 5: Category, Brand -->
      <div class="row mb-3">
        <div class="col-md-7">
          <label for="productImage">Product Image</label>
          <app-file-upload
            (fileBase64Image)="
              productForm.controls['imageUrl'].setValue($event)
            "
          ></app-file-upload>
          @if(productForm.get('imageUrl')?.value!==''){
          <img
            [src]="productForm.get('imageUrl')?.value"
            alt="Product Image"
            style="width: 200px"
            class="rounded"
          />
          }
          <!-- <input
            type="file"
            id="productImage"
            (change)="onImageSelect($event)"
            class="form-control"
          /> -->
        </div>
        <div class="col-md-5">
          <label for="size">Size</label>

          <p-scrollpanel [style]="{ width: '100%', height: '200px' }">
            <div formArrayName="sizes">
              <div
                *ngFor="let sizeCtrl of sizes.controls; let i = index"
                [formGroupName]="i"
                class="row mb-2 justify-content-start"
              >
                <div class="col-md-8 g-1 p-0">
                  <div class="row">
                    <div class="col-6">
                      <p-select
                        formControlName="size"
                        [options]="availableSizes"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Size"
                        class="rounded-box formcontrol-sm"
                      ></p-select>
                    </div>
                    <div class="col-6">
                      <input
                        type="number"
                        pInputText
                        placeholder="Qty"
                        formControlName="quantity"
                        class="rounded-box formcontrol-sm w-100"
                      />
                    </div>
                  </div>
                  <!-- Size Dropdown -->
                </div>

                <div class="col-md-4 g-1 p-0">
                  <p-button
                    icon="pi pi-plus"
                    severity="success"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="addSize()"
                  />
                  <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="removeSize(i)"
                  />
                </div>
              </div>
            </div>
          </p-scrollpanel>
        </div>
      </div>

      <!-- Row 7: Buttons -->
      <div class="col-md-6 row">
        <div class="col-md-6">
          <button
            pButton
            type="submit"
            label="Submit"
            class="p-button-success w-100"
            [disabled]="!productForm.valid"
          ></button>
        </div>
        <div class="col-md-6">
          <button
            pButton
            type="button"
            label="Reset"
            class="p-button-secondary w-100"
            (click)="resetForm()"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
