.login-box {
  height: 30rem;
  width: 50rem;
  background: linear-gradient(343deg, #000000, transparent);
}

.brand-box {
  border: 2px solid #000;
  border-radius: 2rem;
  min-width: 250px;
}

.brand-title {
  font-family: "Impact", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.brand-subtitle {
  font-family: "Impact", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.input-group-text {
  background-color: #eee;
}

.cursor-pointer {
  cursor: pointer;
}

input.form-control {
  border-radius: 999px !important;
}


:host ::ng-deep .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper{
  width: 100% !important;
  border-radius: 10px;
}